################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Application/obj
/Application/bin/Debug/net8.0
/Domain/bin/Debug/net8.0
/Infrastructure/bin/Debug/net8.0
/Infrastructure/obj
